.link{
    text-decoration: none;
    background: none;
    margin: 0px 23px;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
    border: none;
}

.d-down.active > .link, .link:hover{
    color: black;
}

.d-down{
    position: relative;
}

.d-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background: #fff;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.d-down.active > .link + .d-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}